<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheest">
    <!-- Your custom styles (optional) -->
    <link href="/css/menupage.css" rel="stylesheet">

    <script type="text/javascript " src="/js/jquery-3.4.1.min.js"></script>
</head>

{{>nav}}

<body style="margin-top: 80px;">
    <div class="col-3">
        <div class="d-flex flex-row d-flex justify-content-center">
            <button type="button" class="btn btn-primary header_btn" data-toggle="modal"
                data-target="#loginModal">Login</button>
            <!-- Modal -->
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginLable"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="loginModal">Login</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="was-validated">
                                <div class="form-group">
                                    <label for="uname">Username:</label>
                                    <input type="text" class="form-control" id="uname" placeholder="Enter username"
                                        name="uname" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Password:</label>
                                    <input type="password" class="form-control" id="pwd" placeholder="Enter password"
                                        name="pswd" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" data-target="#pwdModal" data-toggle="modal">Forgot password ?</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="loginBtn" type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Forgot password-->
            <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="text-center">What's My Password?</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <p>If you have forgotten your password you can reset it here.</p>
                                            <div class="panel-body">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <input class="form-control input-lg"
                                                            placeholder="E-mail Address" name="email" type="email">
                                                    </div>
                                                    <input class="btn btn-lg btn-primary btn-block"
                                                        value="Send My Password" type="submit">
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" class="btn btn-primary">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


    <!-- Bootstrap tooltips -->
    <script type="text/javascript " src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript " src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript " src="/js/mdb.min.js"></script>

</body>

</html>