<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Five Leaves</title>
    <!-- Google Material Icon-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/public/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/public/css/style.css" rel="stylesheet">
</head>

<body class="black-skin">

<header position="absolute">
    <div id="slide-out" class="side-nav bg-dark">
        <ul class="custom-scrollbar">

            <li>
                <div class="logo-wrapper waves-light">
                    <a href="#"><img src="/asset/logo.png" class="img-fluid flex-center"></a>
                </div>
            </li>


            <li>
                <form class="search-form" role="search">
                    <div class="form-group md-form mt-0 pt-1 waves-light">
                        <input type="text" class="form-control" placeholder="Search"/>
                    </div>
                </form>
            </li>

            <li>
                <ul class="collapsible collapsible-accordion">
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-chevron-right"></i> Điện
                        tử<i class="fas fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul class="list-unstyled">
                                <li><a href="#" class="waves-effect">Điện thoại di động</a>
                                </li>
                                <li><a href="#" class="waves-effect">Máy tính xách tay</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-hand-pointer"></i>
                        Instruction<i class="fas fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul class="list-unstyled">
                                <li><a href="#" class="waves-effect">For bloggers</a>
                                </li>
                                <li><a href="#" class="waves-effect">For authors</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>< class="collapsible-header waves-effect arrow-r"><i class="fas fa-eye"></i> About<i>
                        class="fas fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul class="list-unstyled">
                                <li><a href="#" class="waves-effect">Introduction</a>
                                </li>
                                <li><a href="#" class="waves-effect">Monthly meetings</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="far fa-envelope"></i> Contact
                        me<i class="fas fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul class="list-unstyled">
                                <li><a href="#" class="waves-effect">FAQ</a>
                                </li>
                                <li><a href="#" class="waves-effect">About US</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="sidenav-bg mask-strong"></div>

    <nav class="navbar navbar-dark fixed-top navbar-expand-lg mb-1 scrolling-navbar">
        <div class="float-left border breadcrumb" style="padding: 10px;">
            <a href="#" data-activates="slide-out" class="button-collapse white-text waves-effect waves-light">
                <span class="navbar-toggler-icon  waves-effect waves-light"></span>
            </a>
        </div>

        <div class=" border breadcrumb mr-auto waves-effect waves-light" style="padding: 10px;margin-left: 20px;">
            <b>FIVE LEAVES</b>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent-555" aria-controls="navbarSupportedContent-555"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon waves-effect waves-light"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="nav navbar-nav nav-flex-icons mt-2 ml-auto nav ">
                <li class="nav-item">
                    <a class="nav-link"><i class="fas fa-dollar-sign"></i>
                        <span class="clearfix d-none d-sm-inline-block">Sell</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fas fa-comments"></i>
                        <span class="clearfix d-none d-sm-inline-block">Support</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-55"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="clearfix d-none d-sm-inline-block">Mail Box</span><i class="fas fa-envelope"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-secondary"
                         aria-labelledby="navbarDropdownMenuLink-55">
                        <div align="center">
                            <label display="block" align="right">Hòm Thư</label>
                        </div>
                        <a class="dropdown-item waves-effect waves-light" href="#">Mail 1.....</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Mail 2......</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Mail 3.....</a>
                        <div class="text-center">
                            <a class="dropdown-item waves-effect waves-light" href="#">Mark all as read</a>
                        </div>

                    </div>
                </li>

                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-55"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                             class="rounded-circle z-depth-0" alt="avatar image"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right text-center dropdown-secondary"
                         aria-labelledby="navbarDropdownMenuLink-55">
                        <div align="center">
                            <p display="block">Nguyễn Đức Thông</p>
                        </div>
                        <label display="block">Số dư khả dụng</label>
                        <p display="block">100000 VND</p>
                        <a class="dropdown-item waves-effect waves-light" href="#">Profile</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Security</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Sign Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Main Grid Item-->
<div class="col-md" style="margin-top: 80px">
    <!-- Mode View -->
    <div class="row-md" align="right">
        <button type="button" class="btn btn-default px-3"><i class="fas fa-list" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default px-3"><i class="fas fa-grip-horizontal"
                                                              aria-hidden="true"></i></button>
    </div>
    <!-- Grid Item-->
    <div class="d-flex flex-wrap">
        <div class="col-lg-3 col-md-12 mb-5">
            <div class="card card-cascade Regular mb-4 rounded-item">
                <!--Card image-->
                <div class="view view-cascade">
                    <img src="../../public/asset/Iphone.png" class="card-img-top" style="padding: 25px;"/>
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body card-body-cascade text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>[HOT HOT !!!!] Iphone XXX</strong></h4>
                    <h5 class="indigo-text"><strong>Start After 11 : 11 : 11</strong></h5>

                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem
                        accusantium doloremque
                        laudantium, totam
                        rem aperiam.
                    </p>
                </div>
                <!--/.Card content-->

            </div>
        </div>
        <div class="col-lg-3 col-md-12 mb-5">
            <div class="card card-cascade Regular mb-4 rounded-item">
                <!--Card image-->
                <div class="view view-cascade">
                    <img src="/asset/clock.png" class="card-img-top" style="padding: 25px;">
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body card-body-cascade text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>[HOT HOT !!!!] Iphone XXX</strong></h4>
                    <h5 class="indigo-text"><strong>Start After 11 : 11 : 11</strong></h5>

                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem
                        accusantium doloremque
                        laudantium, totam
                        rem aperiam.
                    </p>
                </div>
                <!--/.Card content-->

            </div>
        </div>
        <div class="col-lg-3 col-md-12 mb-5">
            <div class="card card-cascade Regular mb-4 rounded-item">
                <!--Card image-->
                <div class="view view-cascade">
                    <img src="/asset/car.png" class="card-img-top" style="padding: 25px;">
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body card-body-cascade text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>[HOT HOT !!!!] Iphone XXX</strong></h4>
                    <h5 class="indigo-text"><strong>Start After 11 : 11 : 11</strong></h5>

                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem
                        accusantium doloremque
                        laudantium, totam
                        rem aperiam.
                    </p>
                </div>
                <!--/.Card content-->

            </div>
        </div>
        <div class="col-lg-3 col-md-12 mb-5">
            <div class="card card-cascade Regular mb-4 rounded-item">
                <!--Card image-->
                <div class="view view-cascade">
                    <img src="/asset/Desk.png" class="card-img-top" style="padding: 25px;">
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body card-body-cascade text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>[HOT HOT !!!!] Iphone XXX</strong></h4>
                    <h5 class="indigo-text"><strong>Start After 11 : 11 : 11</strong></h5>

                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem
                        accusantium doloremque
                        laudantium, totam
                        rem aperiam.
                    </p>
                </div>
                <!--/.Card content-->

            </div>
        </div>
        <div class="col-lg-3 col-md-12 mb-5">
            <div class="card card-cascade Regular mb-4 rounded-item">
                <!--Card image-->
                <div class="view view-cascade">
                    <img src="/asset/Door.png" class="card-img-top" style="padding: 25px;">
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body card-body-cascade text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>[HOT HOT !!!!] Iphone XXX</strong></h4>
                    <h5 class="indigo-text"><strong>Start After 11 : 11 : 11</strong></h5>

                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem
                        accusantium doloremque
                        laudantium, totam
                        rem aperiam.
                    </p>
                </div>
                <!--/.Card content-->

            </div>
        </div>
        <div class="col-lg-3 col-md-12 mb-5">
            <div class="card card-cascade Regular mb-4 rounded-item">
                <!--Card image-->
                <div class="view view-cascade">
                    <img src="/asset/house.png" class="card-img-top" style="padding: 25px;">
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body card-body-cascade text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>[HOT HOT !!!!] Iphone XXX</strong></h4>
                    <h5 class="indigo-text"><strong>Start After 11 : 11 : 11</strong></h5>

                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem
                        accusantium doloremque
                        laudantium, totam
                        rem aperiam.
                    </p>
                </div>
                <!--/.Card content-->

            </div>
        </div>
        <div class="col-lg-3 col-md-12 mb-5">
            <div class="card card-cascade Regular mb-4 rounded-item">
                <!--Card image-->
                <div class="view view-cascade">
                    <img src="/asset/key.png" class="card-img-top" style="padding: 25px;">
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body card-body-cascade text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>[HOT HOT !!!!] Iphone XXX</strong></h4>
                    <h5 class="indigo-text"><strong>Start After 11 : 11 : 11</strong></h5>

                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem
                        accusantium doloremque
                        laudantium, totam
                        rem aperiam.
                    </p>
                </div>
                <!--/.Card content-->

            </div>
        </div>
        <div class="col-lg-3 col-md-12 mb-5">
            <div class="card card-cascade Regular mb-4 rounded-item">
                <!--Card image-->
                <div class="view view-cascade">
                    <img src="/asset/laptop.png" class="card-img-top" style="padding: 25px;">
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body card-body-cascade text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>[HOT HOT !!!!] Iphone XXX</strong></h4>
                    <h5 class="indigo-text"><strong>Start After 11 : 11 : 11</strong></h5>

                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem
                        accusantium doloremque
                        laudantium, totam
                        rem aperiam.
                    </p>
                </div>
                <!--/.Card content-->

            </div>
        </div>
        <div class="col-lg-3 col-md-12 mb-5">
            <div class="card card-cascade Regular mb-4 rounded-item">
                <!--Card image-->
                <div class="view view-cascade">
                    <img src="/asset/monitor.png" class="card-img-top" style="padding: 25px;">
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body card-body-cascade text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>[HOT HOT !!!!] Iphone XXX</strong></h4>
                    <h5 class="indigo-text"><strong>Start After 11 : 11 : 11</strong></h5>

                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem
                        accusantium doloremque
                        laudantium, totam
                        rem aperiam.
                    </p>
                </div>
                <!--/.Card content-->

            </div>
        </div>
        <div class="col-lg-3 col-md-12 mb-5">
            <div class="card card-cascade Regular mb-4 rounded-item">
                <!--Card image-->
                <div class="view view-cascade">
                    <img src="/asset/Samsung.png" class="card-img-top" style="padding: 25px;">
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body card-body-cascade text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>[HOT HOT !!!!] Iphone XXX</strong></h4>
                    <h5 class="indigo-text"><strong>Start After 11 : 11 : 11</strong></h5>

                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem
                        accusantium doloremque
                        laudantium, totam
                        rem aperiam.
                    </p>
                </div>
                <!--/.Card content-->

            </div>
        </div>
        <div class="col-lg-3 col-md-12 mb-5">
            <div class="card card-cascade Regular mb-4 rounded-item">
                <!--Card image-->
                <div class="view view-cascade">
                    <img src="/asset/Tivi.png" class="card-img-top" style="padding: 25px;">
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body card-body-cascade text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>[HOT HOT !!!!] Iphone XXX</strong></h4>
                    <h5 class="indigo-text"><strong>Start After 11 : 11 : 11</strong></h5>

                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem
                        accusantium doloremque
                        laudantium, totam
                        rem aperiam.
                    </p>
                </div>
                <!--/.Card content-->

            </div>
        </div>
    </div>
</div>


<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Company Name</h3>
                    <p>Nguyen Duc Thong</p>
                </div>
                <div class="col item social">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a class="btn-floating btn-fb"><i class="fab fa-facebook-f">
                        </i></a></li>
                        <li class="list-inline-item"><a class="btn-floating btn-tw"><i class="fab fa-twitter">
                        </i></a></li>
                        <li class="list-inline-item"><a class="btn-floating btn-gplus"><i
                                class="fab fa-google-plus-g"> </i></a></li>
                        <li class="list-inline-item"><a class="btn-floating btn-li"><i class="fab fa-linkedin-in">
                        </i></a></li>
                        <li class="list-inline-item"><a class="btn-floating btn-git"><i class="fab fa-github">
                        </i></a></li>
                    </ul>
                </div>
            </div>
            <p class="copyright">Five Leaves © 2019</p>
        </div>
    </footer>
</div>

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<!-- Custom Javascript-->
<script type="text/javascript" src="/js/myJS.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/js/mdb.min.js"></script>
</body>

</html>