<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="black-skin">
{{>nav}}
<div class="container-fluid" style="margin-top: 80px">
    <div class="row">
        <div class="card" style="width: 100%; margin: 1% 2%;">
            <form method="post">
                <div class="card-body row rounded-beauty">
                    <div class="col-lg-4 col-sm-12 d-flex flex-column">
                        <div class="card-title" style=""><h3><b>Add new item</b></h3></div>
                        <div class="form-group">
                            <label for="itemImg">Item primary image</label>
                            <input type="file" class="form-control-file" id="itemImg" accept="image/*">
                            <img src="https://placehold.it/80x80" class="img-thumbnail" id="previewPrimaryImage" style="max-width: 300px; max-height: 300px;">
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                        <h2>Info</h2>
                        <div class="form-group">
                            <label for="itemName">Item's name:</label>
                            <input id="itemName" type="text" class="form-control" placeholder="Ex: Laptop CatX1"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="itemPrice">Starting price:</label>
                            <input id="itemPrice" type="number" class="form-control" placeholder="Ex: 1000000" required>
                        </div>
                        <div class="form-group">
                            <label for="priceStep">Price step:</label>
                            <input id="priceStep" type="number" class="form-control" placeholder="Ex: 500000" required>
                        </div>
                        <div class="form-group">
                            <label for="immediateBuy">Immediate buy price:</label>
                            <input id="immediateBuy" type="number" class="form-control" placeholder="Ex: 5500000"
                                   required>
                        </div>
                        <div class="form-group" style="height: 500px">
                            <label for="itemDesc">Item description</label>
                            <div id="itemDesc"></div>
                        </div>
                        <div class="form-group" style="margin-top: 30px;">
                            <input id="autoExtend" type="checkbox" class="form-check-input">
                            <label for="autoExtend">Auto Extend (When there is a new price offer before the end 5
                                minutes, auto extend the duration of the auction by 10 minutes</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-primary">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{>footer}}
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/js/froala_editor.pkgd.min.js"></script>
<script src="/js/SellItem.js"></script>
</body>
</html>
