<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
</head>
{{>nav}}

<body class="black-skin" style="padding-top: 80px;">

    <div class="container-fluid">
        <div class="form-group pl-4 pt-4">
            <h1>View Profile</h1>
        </div>
        <hr>
        <div class="form-row">
            <!-- left column -->
            <div class="form-group col-md-6" style="padding-top: 30px;">
                <div class="view overlay view-cascade container-fluid">
                    <input type="image" class="img-fluid mx-auto border" src="/asset/car.png" width="250" height="250">
                </div>
            </div>

            <!-- edit form column -->
            <div class="form-group col-md-6">
                <div class="modal-dialog border p-3" role="document">
                    <div class="modal-content">
                        <div class="modal-header opacity btn-grey">
                            <h2>Personal info</h2>
                        </div>
                    </div>

                    <div class="modal-body rounded">
                        <form class="was-validated">

                            <div class="form-group pt-2">
                                <label for="fname">First name:</label>
                                <label id="fname">
                            </div>
                            <div class="form-group pt-2">
                                <label for="lname">Last name:</label>
                                <label id="lname">
                            </div>
                            <div class="form-group pt-2">
                                <label for="email">Email:</label>
                                <label id="email">
                            </div>
                            <div class="form-group pt-2">
                                <label for="pnumber">Phone Number:</label>
                                <label id="pnumber">
                            </div>
                            <div class="form-group pt-2">
                                <label for="bday">Birthday:</label>
                                <label id="bday">
                            </div>
                            <div class="form-group pt-2">
                                <label for="address">Address:</label>
                                <label id="address">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript " src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript " src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript " src="/js/mdb.min.js"></script>
</body>
{{>footer}}

</html>