<div id="slide-out" class="side-nav bg-dark">
    <ul class="custom-scrollbar">

        <li>
            <div class="logo-wrapper waves-light">
                <a href="#"><img src="/asset/logo.png" class="img-fluid flex-center"></a>
            </div>
        </li>


        <li>
            <form class="search-form" role="search">
                <div class="form-group md-form mt-0 pt-1 waves-light">
                    <input type="text" class="form-control" placeholder="Search" />
                </div>
            </form>
        </li>

        <li>
            <ul class="collapsible collapsible-accordion">
                <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-chevron-right"></i> Điện
                        tử<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul class="list-unstyled">
                            <li><a href="#" class="waves-effect">Điện thoại di động</a>
                            </li>
                            <li><a href="#" class="waves-effect">Máy tính xách tay</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r">
                        <i class="fas fa-hand-pointer"></i>Instruction<i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                    <div class="collapsible-body">
                        <ul class="list-unstyled">
                            <li><a href="#" class="waves-effect">For bloggers</a></li>
                            <li><a href="#" class="waves-effect">For authors</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r">
                        <i class="fas fa-eye"></i>About<i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                    <div class="collapsible-body">
                        <ul class="list-unstyled">
                            <li><a href="#" class="waves-effect">Introduction</a></li>
                            <li><a href="#" class="waves-effect">Monthly meetings</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r">
                        <i class="far fa-envelope"></i> Contact me<i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                    <div class="collapsible-body">
                        <ul class="list-unstyled">
                            <li><a href="#" class="waves-effect">FAQ</a></li>
                            <li><a href="#" class="waves-effect">About US</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>