<div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-multi" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-multi" data-slide-to="1"></li>
        <li data-target="#carousel-example-multi" data-slide-to="2"></li>
        <li data-target="#carousel-example-multi" data-slide-to="3"></li>
        <li data-target="#carousel-example-multi" data-slide-to="4"></li>
        <li data-target="#carousel-example-multi" data-slide-to="5"></li>
    </ol>
    <!--/.Indicators-->

    <div class="carousel-inner v-2" role="listbox">
        <div class="carousel-item active">
            <div class="col-lg-3 col-md-12 mb-5">
                <div class="card ovf-hidden card-cascade Regular mb-4 rounded-item">
                    <!-- Card image -->
                    <div class="view overlay view-cascade container-fluid">
                        <img class="card-img-top" src="/asset/Iphone.png" alt="Card image cap"
                            style="padding: 25px;">
                        <a>
                            <div class="mask waves-effect waves-light rgba-white-slight"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Social shares button -->
                        <a class="activator mr-4"><i class="fas fa-question-circle"></i></a>
                        <!-- Title -->
                        <h4 class="card-title font-weight-bold">Iphone XXX</h4>
                        <hr>
                        <h6 class="indigo-text"><strong>Start After</strong><strong
                                class="red-text float-right font-weight-bold"
                                style="font-size: x-large;">11:11:11</strong></h6>
                        <hr>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a class="link-text" href="#">
                            <h5>Read more <i class="fas fa-angle-double-right ml-2"></i></h5>
                        </a>

                    </div>

                    <!-- Card reveal -->
                    <div class="card-reveal white opacity-80">
                        <!-- Content -->
                        <div class="content text-center opacity-100">
                            <h5 class="card-title font-weight-bold my-4 ">Thông tin cơ bản<i
                                    class="fas fa-times text-muted"></i></h5>
                            <hr>
                            <p>ID: 1123123123</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                        </div>
                    </div>
                    <!-- Card reveal -->

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-lg-3 col-md-12 mb-5">
                <div class="card ovf-hidden card-cascade Regular mb-4 rounded-item">
                    <!-- Card image -->
                    <div class="view overlay view-cascade container-fluid">
                        <img class="card-img-top" src="/asset/Iphone.png" alt="Card image cap"
                            style="padding: 25px;">
                        <a>
                            <div class="mask waves-effect waves-light rgba-white-slight"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Social shares button -->
                        <a class="activator mr-4"><i class="fas fa-question-circle"></i></a>
                        <!-- Title -->
                        <h4 class="card-title font-weight-bold">Iphone XXX</h4>
                        <hr>
                        <h6 class="indigo-text"><strong>Start After</strong><strong
                                class="red-text float-right font-weight-bold"
                                style="font-size: x-large;">11:11:11</strong></h6>
                        <hr>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a class="link-text" href="#">
                            <h5>Read more <i class="fas fa-angle-double-right ml-2"></i></h5>
                        </a>

                    </div>

                    <!-- Card reveal -->
                    <div class="card-reveal white opacity-80">
                        <!-- Content -->
                        <div class="content text-center opacity-100">
                            <h5 class="card-title font-weight-bold my-4 ">Thông tin cơ bản<i
                                    class="fas fa-times text-muted"></i></h5>
                            <hr>
                            <p>ID: 1123123123</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                        </div>
                    </div>
                    <!-- Card reveal -->

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-lg-3 col-md-12 mb-5">
                <div class="card ovf-hidden card-cascade Regular mb-4 rounded-item">
                    <!-- Card image -->
                    <div class="view overlay view-cascade container-fluid">
                        <img class="card-img-top" src="/asset/Iphone.png" alt="Card image cap"
                            style="padding: 25px;">
                        <a>
                            <div class="mask waves-effect waves-light rgba-white-slight"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Social shares button -->
                        <a class="activator mr-4"><i class="fas fa-question-circle"></i></a>
                        <!-- Title -->
                        <h4 class="card-title font-weight-bold">Iphone XXX</h4>
                        <hr>
                        <h6 class="indigo-text"><strong>Start After</strong><strong
                                class="red-text float-right font-weight-bold"
                                style="font-size: x-large;">11:11:11</strong></h6>
                        <hr>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a class="link-text" href="#">
                            <h5>Read more <i class="fas fa-angle-double-right ml-2"></i></h5>
                        </a>

                    </div>

                    <!-- Card reveal -->
                    <div class="card-reveal white opacity-80">
                        <!-- Content -->
                        <div class="content text-center opacity-100">
                            <h5 class="card-title font-weight-bold my-4 ">Thông tin cơ bản<i
                                    class="fas fa-times text-muted"></i></h5>
                            <hr>
                            <p>ID: 1123123123</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                        </div>
                    </div>
                    <!-- Card reveal -->

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-lg-3 col-md-12 mb-5">
                <div class="card ovf-hidden card-cascade Regular mb-4 rounded-item">
                    <!-- Card image -->
                    <div class="view overlay view-cascade container-fluid">
                        <img class="card-img-top" src="/asset/Iphone.png" alt="Card image cap"
                            style="padding: 25px;">
                        <a>
                            <div class="mask waves-effect waves-light rgba-white-slight"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Social shares button -->
                        <a class="activator mr-4"><i class="fas fa-question-circle"></i></a>
                        <!-- Title -->
                        <h4 class="card-title font-weight-bold">Iphone XXX</h4>
                        <hr>
                        <h6 class="indigo-text"><strong>Start After</strong><strong
                                class="red-text float-right font-weight-bold"
                                style="font-size: x-large;">11:11:11</strong></h6>
                        <hr>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a class="link-text" href="#">
                            <h5>Read more <i class="fas fa-angle-double-right ml-2"></i></h5>
                        </a>

                    </div>

                    <!-- Card reveal -->
                    <div class="card-reveal white opacity-80">
                        <!-- Content -->
                        <div class="content text-center opacity-100">
                            <h5 class="card-title font-weight-bold my-4 ">Thông tin cơ bản<i
                                    class="fas fa-times text-muted"></i></h5>
                            <hr>
                            <p>ID: 1123123123</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                        </div>
                    </div>
                    <!-- Card reveal -->

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-lg-3 col-md-12 mb-5">
                <div class="card ovf-hidden card-cascade Regular mb-4 rounded-item">
                    <!-- Card image -->
                    <div class="view overlay view-cascade container-fluid">
                        <img class="card-img-top" src="/asset/Iphone.png" alt="Card image cap"
                            style="padding: 25px;">
                        <a>
                            <div class="mask waves-effect waves-light rgba-white-slight"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Social shares button -->
                        <a class="activator mr-4"><i class="fas fa-question-circle"></i></a>
                        <!-- Title -->
                        <h4 class="card-title font-weight-bold">Iphone XXX</h4>
                        <hr>
                        <h6 class="indigo-text"><strong>Start After</strong><strong
                                class="red-text float-right font-weight-bold"
                                style="font-size: x-large;">11:11:11</strong></h6>
                        <hr>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a class="link-text" href="#">
                            <h5>Read more <i class="fas fa-angle-double-right ml-2"></i></h5>
                        </a>

                    </div>

                    <!-- Card reveal -->
                    <div class="card-reveal white opacity-80">
                        <!-- Content -->
                        <div class="content text-center opacity-100">
                            <h5 class="card-title font-weight-bold my-4 ">Thông tin cơ bản<i
                                    class="fas fa-times text-muted"></i></h5>
                            <hr>
                            <p>ID: 1123123123</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                            <p>Name: Nguyen Duc Thong nek</p>
                        </div>
                    </div>
                    <!-- Card reveal -->

                </div>
            </div>
        </div>
    </div>
</div>