<li class="nav-item avatar">
    <a class="nav-link waves-effect dropdown-toggle waves-light" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true">
       <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0"
            alt="avatar image" />
    </a>
</li>