<body class="black-skin">
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Company Name</h3>
                        <p>Nguyen Duc Thong</p>
                    </div>
                    <div class="col item social">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item"><a class="btn-floating btn-fb"><i class="fab fa-facebook-f">
                                    </i></a></li>
                            <li class="list-inline-item"><a class="btn-floating btn-tw"><i class="fab fa-twitter">
                                    </i></a></li>
                            <li class="list-inline-item"><a class="btn-floating btn-gplus"><i
                                        class="fab fa-google-plus-g"> </i></a></li>
                            <li class="list-inline-item"><a class="btn-floating btn-li"><i class="fab fa-linkedin-in">
                                    </i></a></li>
                            <li class="list-inline-item"><a class="btn-floating btn-git"><i class="fab fa-github">
                                    </i></a></li>
                        </ul>
                    </div>
                </div>
                <p class="copyright">Five Leaves © 2019</p>
            </div>
        </footer>
    </div>
</body>