<div class="card">
  <div class="card-header">
    <h4>Aution Online</h4>
  </div>
  <div class="card-body">
    <p>Online auction web app by </p>
    <p>Nguyễn Hoàng Anh Tuấn</p>
    <p>Nguyễn Đức Thông</p>
    <p>Đoàn Triệu Vĩnh</p>
  </div>
</div>