<li class="nav-item avatar dropdown">
    <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0"
            alt="avatar image" />
    </a>
    <div class="dropdown-menu dropdown-menu-right text-center dropdown-secondary"
        aria-labelledby="navbarDropdownMenuLink-55">
        <div align="center">
            <p display="block">Nguyễn Đức Thông</p>
        </div>
        <label display="block">Số dư</label>
        <p display="block">100000 VND</p>
        <a class="dropdown-item waves-effect waves-light" href="/profile">Profile</a>
        <a class="dropdown-item waves-effect waves-light" href="#">Security</a>
        <a class="dropdown-item waves-effect waves-light" href="#">Sign Out</a>
    </div>
</li>