<div class="float-left border breadcrumb" style="padding: 10px;">
    <a href="#" data-activates="slide-out" class="button-collapse white-text waves-effect waves-light">
        <span class="navbar-toggler-icon  waves-effect waves-light"></span>
    </a>
</div>
<script>
    $(document).ready(() => {
    // SideNav Initialization
    $(".button-collapse").sideNav();
  
    new WOW().init();
  });
</script>