<li class="nav-item">
    <a class="nav-link waves-effect waves-light"  data-toggle="modal" data-target="#signupModal"
        aria-haspopup="true" aria-expanded="true">
       Sign Up
    </a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" data-toggle="modal" data-target="#loginModal"
        aria-haspopup="true" aria-expanded="true">
      Login
    </a>
</li>
